.dashboard{
    position: relative;
}
.topo{
    background-color: #07489a;
}
.topo li{
    list-style-type: none;
}
.sidebar{
    position: relative;
    top: 0px;
    width: 15%;
    height: 1200px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #FCDDEC;
    background: #200E32;
    border-right: 1.5px solid #262835;
}
.sidebar h1{
    position: absolute;
    height: 61px;
    left: 35px;
    top: 20px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */


    color: #FFFFFF;
}
.div_busca{
    position: relative;
    height: 32px;
    top: 50px;
}
.busca_input{
    background: #FCDDEC;
    width: 600px;
    border: none;
    font-size: 20px;
}
.busca_svg{
    margin-left: 15px;
}

.menu{
    position: absolute;
    width: 236px;
    height: 437.82px;
    left: 27px;
    top: 117.83px;

}
.dashBoardLayout{
    background-color: #ffffff;
    position: absolute;
    width: 85%;
    height: 850px;
    left: 15%;
    top: 17%;

}
.topo{
    position: absolute;
    width: 85%;
    height: 173px;
    left: 15%;
    top: 0px;
    background: linear-gradient(90deg, #EEAFC9 32.99%, #8E8EE9 70.9%);

}
.cadastrar{
    padding: 0px 23px;
    gap: 19px;
    position: relative;
    /* width: 211px; */
    height: 40px;
    top: 3%;
    left: 1%;
    background: #200E32;
    border-radius: 55px;
    color: #ffffff;
    font-size: 1.2em;
}
.tituloDashBoard{
    position: relative;
    width: 300px;
    top: 6%;

    margin-left: 3%;

}
.tituloDashBoard_tabela{
    width: 300px;
    top: 6%;
    margin-left: 2%;
    width: 302px;
    height: 24px;

    /* Header/h2 */

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #5D5FEF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.dashBoardPanels{
    position: relative;
    margin-left: 3%;
    top: 9%;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1000px;
    column-gap: 25%;
}
.cardPanel{
    width: 318px;
    height: 197px;
    left: 0px;
    top: 0px;
    background: #200E32;
    border-radius: 12px;
}
.cardStile{
    position: relative;
    left:10%;
    color: #FFFFFF;
}
.cardPesquisa{
    height: 24px;
    left: 10%;
    top: 30%;
    margin-left: 8%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    background-color: #200E32;
    border: none;

    color: rgb(255, 255, 255);
}
.dashTable{
    position: relative;
    top: 12%;
}
.calendar{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0px;
    right: 150px;
    color: #55597D;
    top: 3%;
}
.tabela{
    position: relative;
    order: 1;
    flex-grow: 5;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}
.tabela td, th{
    text-align: center;
    position: relative;
    border-bottom: 1px solid rgba(65, 25, 133, 0.93);
    width: 300px;
    height: 30px;
    left: 0px;
    top: 39px;
}
.colors{
    color: #27d527 !important;
}
.panelExpositor{
    position: inherit;
    top: 66px;
    margin: 2% 5%;
    padding-bottom: 15px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: -0.02em;
    color: #DDEFFA;
}
.usuario{
    position: relative;
    width: 280px;
    height: 11px;
    left: 929px;
    top: -15px;
    margin: 0px;
}
.usuario_img{
    width: 100.78px;
    height: 100px;
    left: 40px;
    top: -10px;
    border-radius: 50px;
    background: #D9D9D9;
}
.usuario_login{
    position: relative;
    width: 210px;
    height: 16px;
    left: 40%;
    top: -75px;
    margin: 1px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.logoDash{
    position: relative;
    width: 172.35px;
    height: 121.51px;
    left: 1247.29px;
    top: -40.81px;
    border-radius: 50px 219.092px 219.092px 80px;
    transform: rotate(0.42deg);
}
