<ion-header [translucent]="true" class="rectangleCima">
  <div class="grid-container">
    <div class="grid-container1">
      <ion-text class="Titulo">
        Dia a Dia
      </ion-text>
    </div>
    <div class="grid-container2">
      <img src="assets/image/pequena.png">
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
