ion-text{
  color: #d0d0d0;
};
.rectangleCima {
  position: absolute;
  height: 10%;
  background: linear-gradient(90deg, #8E8EE9 32.99%, #EEAFC9 70.9%);
};
.rectanglebaixo {
  top: 95%;
  position: absolute;
  height: 5%;
  background: linear-gradient(90deg, #8E8EE9 32.99%, #EEAFC9 70.9%);
};
.subtitulo{
  color: rgb(252, 252, 252);
  font-family: Work Sans, serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.7px;
};
.Titulo ion-text{
  font-size: 37px;
};
.Titulo{
  color: #200E32;
  font-family: Work Sans, serif;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.74px;
};
.logoPequena{
  width: 70px;
  transform: rotate(0.416deg);
  flex-shrink: 0;
};
.grid-container {
  display: flex;
  align-items: center;
  padding:   5px  15px 0px;
};

.grid-container1 {
  flex: 1;
};

.grid-container2 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
};
.boxButton{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 100%;
  position: relative;
  width: 100%;
  margin-top: 20%;
  background-color: transparent;
};
.boxButton ion-button{
  margin-top: 5%;
  width: 75%;
  padding-left: 10%;
}
.boxButton ion-label{
  left: 15%;
  display: grid;
  top: 15%;
  font-size: 20px;
  padding-left: 10%;
};
.botoesDireitos{
  padding-top: 10%;
  display: grid;
  gap: 20px;
}
.botoesEsquerdos{
  padding-top: 10%;
  display: grid;
  gap: 20px;
}
.display{
  position: absolute;
  width: 100%;
  height: 50%;
  flex-shrink: 0;
  fill: #ffffff;
  background-color: transparent;
};
.painelAfe{
  position: relative;
  margin: 20% 22.5% 0px;
  background-color: transparent;
  height: 60%;
  width: 60%;
};
.displayTexto{
  position: absolute;
  background-color: transparent;
  margin-top: 5%;
  left: 15%;
  text-align: center;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.4px;
};
.dispalyMedidor{
  position: absolute;
  margin-top: 20%;
  left: -1%;
  color: #EA9617;
  text-align: center;
  font-family: Inter, serif;
  font-size: 87px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.74px;
};
.notificacao{
  position: relative;
  left: 10%;
  text-align: center;
  width: 100%;
  margin-top: 10%;
  height: 20%;
  flex-shrink: 0;
  color: rgba(239, 9, 171, 0.93);
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  background-color: transparent;
};
.botoesAfericao{
  position: absolute;
  width: 100%;
  height: 30%;
  top: 60%;
  background-color: transparent;
}
.botao1{
  position: relative;
  top: 45%;
  margin: 0px  20%;
  left: 14.5%;
};
.botao2{
  position: relative;
  top: 50%;
  left: 13%;
  margin: 0px 20%;
};

@media (prefers-color-scheme: dark){
  ion-text{
    color: #d0d0d0;
  };
  .rectangleCima {
    position: absolute;
    height: 10%;
    background: linear-gradient(90deg, #8E8EE9 32.99%, #EEAFC9 70.9%);
  };
  .rectanglebaixo {
    top: 95%;
    position: absolute;
    height: 5%;
    background: linear-gradient(90deg, #8E8EE9 32.99%, #EEAFC9 70.9%);
  };
  .subtitulo{
    color: rgb(252, 252, 252);
    font-family: Work Sans, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.7px;
  };
  .Titulo ion-text{
    font-size: 37px;
  };
  .Titulo{
    color: #200E32;
    font-family: Work Sans, serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.74px;
  };
  .logoPequena{
    width: 70px;
    transform: rotate(0.416deg);
    flex-shrink: 0;
  };
  .grid-container {
    display: flex;
    align-items: center;
    padding:   5px  15px 0px;
  };

  .grid-container1 {
    flex: 1;
  };

  .grid-container2 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  };
  .boxButton{
    position: relative;
    height: 15%;
    width: 100%;
    margin-top: 20%;
    background-color: transparent;
  };
  .boxButton ion-button{
    margin-top: 5%;
    margin-left: 15%;
  };
  .boxButton ion-label{
    display: grid;
    top: 15%;
    font-size: 20px;
  };
  .botoesDireitos{
    padding-top: 10%;
    display: grid;
    gap: 10px;
  }
  .botoesEsquerdos{
    padding-top: 10%;
    display: grid;
    gap: 10px;
  }
  .display{
    position: absolute;
    width: 100%;
    height: 50%;
    flex-shrink: 0;
    fill: #ffffff;
    background-color: transparent;
  };
  .painelAfe{
    position: relative;
    margin: 20% 22.5% 0px;
    background-color: transparent;
    height: 60%;
    width: 60%;
  };
  .displayTexto{
    position: absolute;
    background-color: transparent;
    margin-top: 5%;
    left: 15%;
    text-align: center;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
  };
  .dispalyMedidor{
    position: absolute;
    margin-top: 20%;
    left: -1%;
    color: #EA9617;
    text-align: center;
    font-family: Inter, serif;
    font-size: 87px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.74px;
  };
  .notificacao{
    position: relative;
    left: 10%;
    text-align: center;
    width: 100%;
    margin-top: 10%;
    height: 20%;
    flex-shrink: 0;
    color: rgba(239, 9, 171, 0.93);
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    background-color: transparent;
  };
  .botoesAfericao{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 60%;
    background-color: transparent;
  }
  .botao1{
    position: relative;
    top: 45%;
    margin: 0px  20%;
    left: 14.5%;
  };
  .botao2{
    position: relative;
    top: 50%;
    left: 13%;
    margin: 0px 20%;
  };

}
