<ion-header [translucent]="true" class="rectangleCima">
  <div class="grid-container">
    <div class="grid-container1">
      <ion-text class="Titulo">
        Dia a Dia
      </ion-text>
    </div>
    <div class="grid-container2">
      <img src="assets/image/pequena.png" class="logoPequena" alt="logo">
    </div>
  </div>
</ion-header>
<ion-content>
  <ion-text class="displayTexto"> Medições Semanais</ion-text>
  <div class="boxButton">
      <ion-label class="boxButton"> Agendar consulta</ion-label>
      <ion-button shape="round" color="tertiary" routerLink="/tab3">agendar</ion-button>
  </div>
    <div class="">
      <div id="chartContainer"></div>
      <ion-text class="highcharts-description">Gáfico</ion-text>
    </div>
    <div>
      <ion-title> últimas Aferições</ion-title>
      <ion-list>
        <ion-item>
          <ion-label>Dia</ion-label>
          <ion-label>Hora</ion-label>
          <ion-label>Indice</ion-label>
        </ion-item>
        <ion-item *ngFor="let medicao of medidas">
          <ion-label>{{medicao.dia}}</ion-label>
          <ion-label>{{medicao.hora}}</ion-label>
          <ion-label>{{medicao.indice}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer class="rectanglebaixo"></ion-footer>
  <app-explore-container name="Tab 2 page"></app-explore-container>
