<ion-header [translucent]="true" class="rectangleCima">
  <div class="grid-container">
    <div class="grid-container1">
      <ion-text class="Titulo">
        Dia a Dia
      </ion-text>
    </div>
    <div class="grid-container2">
      <img src="assets/image/pequena.png" class="logoPequena" alt="logo">
    </div>
  </div>
</ion-header>
<ion-content class="texto">
  <ion-title></ion-title>
  <ion-list>
    <ion-item>
      <ion-label>Nome</ion-label>
    </ion-item>
    <ion-item>
      <ion-label></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="rectanglebaixo"></ion-footer>
<app-explore-container name="Tab 4 page"></app-explore-container>
