<ion-header [translucent]="false" class="rectangle">
</ion-header>

<ion-content [fullscreen]="false" class="logoGrande" style="color: #FFFFFF" #conteudo>
     <img src="assets/image/pequena.png" alt="logo">
  <ion-title class="Titulo">Dia a Dia </ion-title>
  <ion-text class="subtitulo"> Índice Glicêmico</ion-text>
  <div class="loginBox">
    <form [formGroup]="loginForm">
<!--      <button (click)="onSubmit()">Verificar Login</button>-->
   <ion-item>
      <ion-text class="loginBox">login</ion-text>
    </ion-item>
    <ion-item>
      <ion-input
        label-placement="floating"
        fill="solid"
        label="Nome:"
        type="text"
        [counter]="true"
        maxlength="20"
        placeholder="Digite seu nome"
        name="username"
        formControlName="username"
        [(ngModel)]="usuario.username"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label-placement="floating"
        fill="solid"
        label="Senha:"
        type="password"
        [counter]="true"
        maxlength="20"
        placeholder="******"
        name="password"
        formControlName="password"
        [(ngModel)]="usuario.password"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-button shape="round" color="tertiary"  type="submit" [disabled]="!loginForm.valid" (click)="onSubmit()">Entrar</ion-button>
    </ion-item>
    </form>
  </div>
</ion-content>
